<div class="w-full max-w-4xl">
   
    <div class="w-full max-w-4xl">
      
        <fuse-alert *ngIf="successMessage" [type]="'success'" [appearance]="'outline'">
            <span fuseAlertTitle>Success</span>
            {{ successMessage }}
        </fuse-alert>
    

        <fuse-alert *ngIf="errorMessage" [type]="'warn'" [appearance]="'outline'">
            <span fuseAlertTitle>Warn alert</span>
            {{ errorMessage }}
        </fuse-alert>

        <fuse-alert *ngIf="successMessageu" [type]="'success'" [appearance]="'outline'">
            <span fuseAlertTitle>Success</span>
            {{ successMessageu }}
        </fuse-alert>
    

        <fuse-alert *ngIf="errorMessageu" [type]="'warn'" [appearance]="'outline'">
            <span fuseAlertTitle>Warn alert</span>
            {{ errorMessageu }}
        </fuse-alert>
    </div>
    
    

    <form #accountFormRef [formGroup]="accountForm">
        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">Agency</div>
            <div class="text-secondary">Create Agency with Required Information</div>
        </div>
        <div class="grid sm:grid-cols-5 gap-6 w-full mt-3">

            <div class="sm:col-span-2">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Agency Name</mat-label>
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:user'" matPrefix></mat-icon>
                    <input [formControlName]="'name'" matInput>
                    <mat-error *ngIf="accountForm.get('name').hasError('required') && accountForm.get('name').touched">
                        Name is required
                    </mat-error>
                </mat-form-field>
            </div>
    
            <!-- Agency Code -->
            <div class="sm:col-span-2">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Agency Code</mat-label>
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:hashtag'" matPrefix></mat-icon>
                    <input [formControlName]="'agencyCode'" matInput>
                    <mat-error *ngIf="accountForm.get('agencyCode').hasError('required') && accountForm.get('agencyCode').touched">
                        Agency Code is required
                    </mat-error>
                </mat-form-field>
            </div>
    
            <!-- Contact Email -->
            <div class="sm:col-span-2">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Contact Email</mat-label>
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:envelope'" matPrefix></mat-icon>
                    <input [formControlName]="'contactEmail'" matInput>
                    <mat-error *ngIf="accountForm.get('contactEmail').hasError('required') && accountForm.get('contactEmail').touched">
                        Contact Email is required
                    </mat-error>
                </mat-form-field>
            </div>
    
            <!-- Contact Phone Number -->
            <div class="sm:col-span-2">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Contact Phone Number</mat-label>
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:phone'" matPrefix></mat-icon>
                    <input [formControlName]="'contactPhoneNumber'" matInput>
                    <mat-error *ngIf="accountForm.get('contactPhoneNumber').hasError('required') && accountForm.get('contactPhoneNumber').touched">
                        Contact Phone Number is required
                    </mat-error>
                </mat-form-field>
            </div>
    
            <!-- Address -->
            <div class="sm:col-span-2">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Address</mat-label>
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:home'" matPrefix></mat-icon>
                    <input [formControlName]="'adresse'" matInput>
                    <mat-error *ngIf="accountForm.get('adresse').hasError('required') && accountForm.get('adresse').touched">
                        Address is required
                    </mat-error>
                </mat-form-field>
            </div>
    
            <!-- Region Select -->
            <div class="sm:col-span-2">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Region</mat-label>
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:map'" matPrefix></mat-icon>
                    <mat-select [formControlName]="'region'">
                        <mat-option *ngFor="let region of regions" [value]="region">{{ region }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="accountForm.get('region').hasError('required') && accountForm.get('region').touched">
                        Region is required
                    </mat-error>
                </mat-form-field>
            </div>
    
            <!-- City Select -->
            <div class="sm:col-span-2">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>City</mat-label>
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:map-pin'" matPrefix></mat-icon>
                    <mat-select [formControlName]="'city'">
                        <mat-option *ngFor="let city of availableCities" [value]="city">{{ city }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="accountForm.get('city').hasError('required') && accountForm.get('city').touched">
                        City is required
                    </mat-error>
                </mat-form-field>
            </div>
            
            
            
            
            
            
            
            
            
        </div>
        <div class="flex items-center justify-end">
            <button
            mat-stroked-button
            type="button"
            class="ml-4"
            (click)="onCancel()">
            Cancel
        </button>
        <button
        class="ml-4"
        mat-flat-button
        type="button"
        [color]="'primary'"
    
        (click)="onSaveagence()">
        {{  'Create Agency' }}
    </button>
    
    
      </div>
      

    </form>

    <div class="my-2 border-t"></div>


    <form [formGroup]="adminForm">
        <div class="w-full max-w-3xl">
      
            <fuse-alert *ngIf="successMessageadmin" [type]="'success'" [appearance]="'outline'">
                <span fuseAlertTitle>Success</span>
                {{ successMessageadmin }}
            </fuse-alert>
        
    
            <fuse-alert *ngIf="errorMessageadmin" [type]="'warn'" [appearance]="'outline'">
                <span fuseAlertTitle>warn</span>
                {{ errorMessageadmin }}
            </fuse-alert>
        </div>
        <div class="w-full">
            <div class="text-xl">Agent Agency</div>
            <div class="text-secondary">Create Agent </div>
        </div>
        <div class="grid md:grid-cols-5 gap-6 w-full mt-3">

            <div class="sm:col-span-2">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Username</mat-label>
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:user'" matPrefix></mat-icon>
                    <input [formControlName]="'username'" matInput>
                    <mat-error *ngIf="adminForm.get('username').hasError('required') && adminForm.get('username').touched">
                        Username is required
                    </mat-error>
                </mat-form-field>
            </div>
            
            <div class="sm:col-span-2">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                  <mat-label>Password</mat-label>
                  <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:key'" matPrefix></mat-icon>
                  <input 
                    [type]="showPassword ? 'text' : 'password'" 
                    [formControlName]="'password'" 
                    matInput>
                  <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
                    <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                  </button>
                  <!-- Add a button to generate the password -->
                  <button mat-icon-button matSuffix (click)="generatePassword() "matTooltip="Generate random password">
                    <mat-icon>key</mat-icon>
                  </button>
                </mat-form-field>
                <div *ngIf="adminForm.get('password')?.errors?.passwordComplexity" class="mt-2 text-red-600 small-text">
                  Password must be at least 8 characters long and include a mix of upper and lower case letters, numbers, and special characters.
                </div>
              </div>
              
            
            
              <div class="sm:col-span-2">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Email</mat-label>
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:envelope'" matPrefix></mat-icon>
                    <input [formControlName]="'email'" matInput type="email">
                </mat-form-field>
            
                <!-- Error message for invalid email format -->
                <div *ngIf="adminForm.get('email')?.hasError('email') && adminForm.get('email')?.touched" class="mt-2 text-red-600 small-text">
                    Please enter a valid email address.
                </div>
            </div>
            
            <div class="sm:col-span-2">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Phone Number</mat-label>
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:phone'" matPrefix></mat-icon>
                    <input [formControlName]="'phoneNumber'" matInput>
                </mat-form-field>
            </div>
            
            

            
            
        </div>
        <div class="flex items-center justify-end">
            <button
            mat-stroked-button
            type="button"
            class="ml-4"
            (click)="onCanceladmin()">
            Cancel
        </button>
        <button
        class="ml-4"
        mat-flat-button
        type="button"
        [color]="'primary'" 
        [disabled]="adminForm.invalid"
(click)="registeragent()">
        
        Save
         </button>
      </div>
      

    </form>

        <div class="my-2 border-t"></div>




 <form [formGroup]="AssoagentForm">


    <div class="w-full max-w-3xl">
  
        <fuse-alert *ngIf="successMessagea" [type]="'success'" [appearance]="'outline'">
            <span fuseAlertTitle>success</span>
            {{ successMessagea }}
        </fuse-alert>
    

        <fuse-alert *ngIf="errorMessagea" [type]="'warn'" [appearance]="'outline'">
            <span fuseAlertTitle>Warn alert</span>
            {{ errorMessagea }}
        </fuse-alert>
    </div>
    <div class="w-full">
        <div class="text-xl">AssociateAgentToAgency</div>
    </div>
    <div class="grid md:grid-cols-5 gap-6 w-full mt-3">

        <div class="sm:col-span-2">
            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                <mat-label>Agent</mat-label>
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:user'" matPrefix></mat-icon>
                <mat-select [formControlName]="'userId'">
                    <mat-option *ngFor="let admin of agents" [value]="admin.id">
                        {{ admin.username }} 
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        
        <div class="sm:col-span-2">
            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                <mat-label>Agency</mat-label>
                <mat-icon svgIcon="heroicons_outline:building-library"></mat-icon>
                <mat-select formControlName="agencyId">
                    <mat-option *ngFor="let agence of Agency" [value]="agence.id">
                        {{ agence.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        
        

        
        
    </div>
    <div class="flex items-center justify-end">
 

        <button
            mat-stroked-button
            type="button"
            class="ml-4"
            (click)="onCancelass()">
            Cancel
        </button>
        <button
            class="ml-4"
            mat-flat-button
            type="button"
            [color]="'primary'" 
            [disabled]="AssoagentForm.invalid"
            (click)="associateagent()">
            Save
        </button>

    </div>
    

</form>
</div>
<!--<div class="my-2 border-t"></div>
<div class="my-2 border-t"></div>
<div>
      
    <mat-accordion class="max-w-4xl mt-3">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    List of Agency
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
                <mat-table  [dataSource]="banks" class="mat-elevation-z8">

                  Name Column 
                    <ng-container matColumnDef="BankAdmin">
                        <mat-header-cell *matHeaderCellDef> Username-AdminBank </mat-header-cell>
                        <mat-cell *matCellDef="let item"> 
                            {{ item.adminUsername ? item.adminUsername : '-' }}
                        </mat-cell>
                    </ng-container>
                    

                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                        <mat-cell *matCellDef="let item"> {{item.name}} </mat-cell>
                    </ng-container>

             
                    <ng-container matColumnDef="bank_code">
                        <mat-header-cell *matHeaderCellDef> Bank Code </mat-header-cell>
                        <mat-cell *matCellDef="let item"> {{item.bankCode}} </mat-cell>
                    </ng-container>

            

    
                    <ng-container matColumnDef="logo">
                        <mat-header-cell *matHeaderCellDef> Logo </mat-header-cell>
                        <mat-cell *matCellDef="let item">
                       
                            <img *ngIf="item.logo" [src]="'data:image/png;base64,' + item.logo" alt="{{ item.name }} logo" class="logo-img" />
                          

                        </mat-cell>
                    </ng-container>
                    

                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                        <mat-cell *matCellDef="let item">
                            <div class="actions-container"> 
                                <button mat-icon-button color="primary" class="modern-button" (click)="onEdit(item)">
                                    <mat-icon>edit</mat-icon> 
                                </button>
                 
                            </div>
                        </mat-cell>
                    </ng-container>
                    
                    

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>
        </mat-expansion-panel>
     </mat-accordion>
     
 
    
</div>






        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
            Name 

             Username 
            <div class="sm:col-span-4">
                <mat-form-field
                    class="fuse-mat-emphasized-affix w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label>Username</mat-label>
                    <div
                        class="text-secondary"
                        matPrefix>
                        fusetheme.com/
                    </div>
                    <input
                        [formControlName]="'username'"
                        matInput>
                </mat-form-field>
            </div>
            <-- Title 
            <div class="sm:col-span-2">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label>Title</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:briefcase'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'title'"
                        matInput>
                </mat-form-field>
            </div>
            <-- Company
            <div class="sm:col-span-2">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label>Company</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:building-office-2'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'company'"
                        matInput>
                </mat-form-field>
            </div>
            <-- About
            <div class="sm:col-span-4">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label>About</mat-label>
                    <textarea
                        matInput
                        [formControlName]="'about'"
                        cdkTextareaAutosize
                        [cdkAutosizeMinRows]="5"></textarea>
                </mat-form-field>
                <div class="mt-1 text-md text-hint">Brief description for your profile. Basic HTML and Emoji are allowed.</div>
            </div>
        </div>-->


        <!-- Divider -->


        <!-- Section 
        <div class="w-full">
            <div class="text-xl">Admin Bank</div>
            <div class="text-secondary">Create Admin Associated To Bank</div>
        </div>-->
      <!--  <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
       
            <div class="sm:col-span-2">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label>Email</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:envelope'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'email'"
                        matInput>
                </mat-form-field>
            </div>

            <div class="sm:col-span-2">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label>Phone</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:phone'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'phone'"
                        matInput>
                </mat-form-field>
            </div>
    
            <div class="sm:col-span-2">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label>Country</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:map-pin'"
                        matPrefix></mat-icon>
                    <mat-select [formControlName]="'country'">
                        <mat-option [value]="'usa'">United States</mat-option>
                        <mat-option [value]="'canada'">Canada</mat-option>
                        <mat-option [value]="'mexico'">Mexico</mat-option>
                        <mat-option [value]="'france'">France</mat-option>
                        <mat-option [value]="'germany'">Germany</mat-option>
                        <mat-option [value]="'italy'">Italy</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
    
            <div class="sm:col-span-2">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label>Language</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:globe-alt'"
                        matPrefix></mat-icon>
                    <mat-select [formControlName]="'language'">
                        <mat-option [value]="'english'">English</mat-option>
                        <mat-option [value]="'french'">French</mat-option>
                        <mat-option [value]="'spanish'">Spanish</mat-option>
                        <mat-option [value]="'german'">German</mat-option>
                        <mat-option [value]="'italian'">Italian</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>-->

  
     <!---  <div class="mt-11 mb-10 border-t"></div>


        <div class="flex items-center justify-end">
            <button
                mat-stroked-button
                type="button">
                Cancel
            </button>
            <button
                class="ml-4"
                mat-flat-button
                type="button"
                [color]="'primary'">Save
            </button>
        </div> 
    -->


  